.app-history {
  padding: 15px;
}

.title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.noHistory {
  margin-top: 20px;
  color: #000;
  font-size: 16px;
}

.history {
  margin-top: 5px;
}

.recordCount {
  margin-bottom: 20px;
  font-size: 14px;
}

.historyHeaderGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align:center;
  border: 2px black solid;
  font-size: 16px;
}

@media (max-width: 400px) {
  .historyHeaderGrid {
    font-size: 14px;
  }
}

.historyHeader {
  border-left: 2px solid black;

}

.dataGrid {
  border-left: 1px solid #f0f0f0;
}

.historyGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  padding: 3px 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pageControl {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px 150px 30px 1fr;
  padding: 20px 0;
  grid-template-rows: 50px;
}

.pageInfo {
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
