.app-results {
  padding: 10px;
  font-family: sans-serif;
}

.title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.subTitle {
  color: #000;
  margin-bottom: 3px;
}

@media (max-width:600px) {
  .container {
    grid-template-columns: repeat( 1, 1fr);
  }
}

@media (min-width:600px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat( 2, 1fr);
  }
}

@media (min-width:1200px) {
  .container {
    grid-template-columns: repeat( 3, 1fr);
  }
}

.container {
  grid-gap: 20px;
  display: grid;

}

.resultGrid{
  display: grid;
  grid-template-columns: 1fr 100px;
  width: calc(100% - 24px);

  border: 2px #f0f0f0 solid;
  padding: 10px;
  font-size: 16px;
}

.poster {
  max-height: 150px;
  margin: auto;
  max-width: 100px;
}
