header {
  background: #000080;
  color: #fff;
  height: 56px;
  display: grid;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  grid-template-columns: 1fr 80px 80px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 12px;
}

.pageOption {
  cursor: pointer;
  text-align: center;
}
